.button {
  border: none;
  outline: 0;
  cursor: pointer;
  background-color: $button-color;
  border-radius: 24px;
  color: $second-color;
  padding: 14px 16px;
  transition: all .3s;
  font-family: inherit;
  &:hover {
      background-color: $main-color;
  }
  &_theme_terminate {
    background-color: rgb(199, 18, 18);
  }
}