$main-font-size: 16px;
$main-font-family: 'Helvetica', sans-serif;
$main-line-height: 20px;

//Разрешения экранов
$desktop-width: 768px;
$container-width: 1002px;

//Цвета
$button-color: #186DD6;
$main-color: #000;
$second-color: #fff;

$flex-wrapper-indent: 15px;
$asteroid-card-indent-bottom: 29px;