@font-face {
    font-family: 'Helvetica';
    src: url("/fonts/HelveticaRegular.eot");
    src: url("/fonts/HelveticaRegular.eot?#iefix") format('embedded-opentype'), url("/fonts/HelveticaRegular.woff2") format('woff2'), url("/fonts/HelveticaRegular.woff") format('woff'), url("/fonts/HelveticaRegular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}